* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #cntnr {
    min-height: 100%;
  }
  
  #rw {
    overflow: auto;
    padding-bottom: 180px;
  }
  
  #footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
  }

  body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
  }